.header{
    padding: 80px 50px;
    width: 100%;
}

.header h1{
    margin: 0;
    color: rgb(66, 5, 124);
}

.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards-container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 100px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cart-container{
    background-color: #fff;
}
@media screen and (max-width: 700px) {
    .cards-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
        gap: 15px;
    }
}